<template>
    <main class="container my-5">
      <div class="row">
        <div class="col-12 text-center my-3">
          <h2 class="mb-3 display-4 text-uppercase">{{ news.name }}</h2>
        </div>
        <div class="col-md-6 mb-4">
          <img v-if="!preview" class="img-fluid" style="width: 400px; border-radius: 10px; box-shadow: 0 1rem 1rem rgba(0,0,0,.7);"  :src="news.picture">
          <img v-else class="img-fluid" style="width: 400px; border-radius: 10px; box-shadow: 0 1rem 1rem rgba(0,0,0,.7);"  :src="preview">
        </div>
        <div class="col-md-4">
            <form @submit.prevent="submitNews">
                <div class="form-group">
                  <label for>User_name</label>
                  <!-- <input type="text" class="form-control" v-model="news.user"> -->
                  <select v-model="news.user" class="form-control">
                    {% for user in news%}
                    
                        <option value="Easy">{{news.user}}</option>
                     
                    {% endfor %}
                    <!-- <option value="Easy">{{news.user}}</option> -->
                    
                  </select>
                </div>
                <div class="form-group">
                  <label for>News Title</label>
                  <input type="text" class="form-control" v-model="news.title">
                </div>
                
                <div class="form-group">
                  <label for>Picture</label>
                  <input type="file" name="file" @change="onFileChange">
                </div>
                <div class="form-group">
                    <label for>Content</label>
                    <input v-model="news.content" type="text" class="form-control">
                  </div>
                <div class="form-group">
                    <label for>Creation_date</label>
                    <input v-model="news.creation_date" type="date" class="form-control">
                  </div>
                <div class="form-group">
                    <label for>Publish_date</label>
                    <input v-model="news.publish_date" type="date" class="form-control">
                  </div>
               
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for>
                        View
                       
                      </label>
                      <input v-model="news.view" type="number" class="form-control">
                    </div>
                  </div>
                <div class="form-group">
                    <label for>Category</label>
                    <input v-model="news.category" type="text" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Save</button>
              </form>
        
        </div>
      </div>
    </main>
  </template>
  
  <script>
  
  export default {
    head(){
        return {
          title: "Edit News"
        }
      },
    async asyncData({ $axios, params }) {
      try {
        let recipe = await $axios.$get(`/news/${params.id}`);
        return { news };
      } catch (e) {
        return { news: [] };
      }
    },
    data() {
      return {
        news: {
            user:"",
          title: "",
          picture: "",
          content: "",
          creation_date: "",
          publish_date: "",
          view: "",
          category: ""
        },
        preview: ""
      };
    },
    
    methods: {
      onFileChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return;
        }
        this.news.picture = files[0]
        this.createImage(files[0])
        
      },
      createImage(file) {
        let reader = new FileReader();
        let vm = this;
        reader.onload = e => {
          vm.preview = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      
      async submitNews() {
        let editedNews = this.news
        console.log(editedNews.picture.name.indexOf("http://"));
        if (editedNews.picture.name.indexOf("http://") != -1){
          delete editedNews["picture"];
          
        }
        
        const config = {
          headers: { "content-type": "multipart/form-data" }
        };
        let formData = new FormData();
        for (let data in editedNews) {
          
          formData.append(data, editedNews[data]);
        }
        
        try {
          let response = await this.$axios.$patch(`/news/${editedNews.id}/`, formData, config);
          console.log("response", response);
          this.$router.push("/news/");
        } catch (e) {
          console.log(e);
        }
        
      }
    }
  };
  </script>
  
  <style scoped>
  </style>