<template>
    <main class="container my-5">
      <div class="row">
        <div class="col-12 text-center my-3">
          <h2 class="mb-3 display-4 text-uppercase">{{news.title}}</h2>
        </div>
        <div class="col-md-6 mb-4" v-for="img in news.newsImg"  v-bind:key="img.id">
          <img
            class="img-fluid"
            style="width: 400px; border-radius: 10px; box-shadow: 0 1rem 1rem rgba(0,0,0,.7);"
            :src="img.file"
            alt
          >
        </div>
        <div class="col-md-6">
          <div class="recipe-details">
            <h4>User</h4>
            <p>{{ news.user }}</p>
            <h4>Content</h4>
            <p>{{ news.content }} </p>
            <h4>View</h4>
            <p>{{ news.view }}</p>
            <h4>Category</h4>
            <p>{{ news.category }}</p>
            <h4>id</h4>
            <p>{{ news.id }}</p>
          </div>
        </div>
      </div>
      <form @submit.prevent="submitComment">
        <div class="form-group">
          <label for>User_name</label>
          <!-- <input type="text" class="form-control" v-model="news.user"> -->
          <!-- <div v-for="news in newss" v-bind:key="news.id" > -->
          
        </div>
       
       
        <div class="form-group">
          <label for>title</label>
          <input type="text" class="form-control" v-model="comment.title">
        </div>
        <div class="form-group">
          <label for>Email</label>
          <input type="email" class="form-control" v-model="comment.email">
        </div>
        
      
        
        <div class="form-group">
            <label for>Коммент бичих:</label>
            <textarea  v-model="comment.body" type="comment" class="form-control border"></textarea>
          </div>
        <div class="form-group">
            <label for>created_on:</label>
            <input  v-model="comment.created_on" type="date" class="form-control border">
          </div>
      
        <!-- <div class="form-group">
            <label for>News:</label>
            <input v-model="comment.news" type="text" class="form-control border" value="{{news.title}}">
          </div> -->
        <!-- <div class="form-group">
            <label for>Publish_date</label>
            <input v-model="news.comment.active" type="date" class="form-control">
          </div> -->
       
          
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
    
  </template>
  
  <script>
  export default {
   
    head() {
      return {
        title: "View News"
      };
    },
    async asyncData({ $axios, params }) {
      try {
        let news = await $axios.$get(`/news/${params.id}`);
        return { news };
      } catch (e) {
        return { news: [] };
      }
    },
    
    data() {
      return {
        comments: [],
        news: {
            user_name:"",
            newsImg: "",
            comment: "",
          title: "",
          
          content: "",
          specialNews: "",
          createDate: "",
          publishDate: "",
          view: "",
          category: "",
          deleteDate: ""
        },
        
        comment: {
              id: "",
              title: "",
              email: "", 
              body: "", 
              created_on: "",
              active: "",
              news: "",
            },
            preview: ""
      };

      
    },
    created() {
    this.CommentData();
  },
 
   
    methods:
    {
      CommentData() {
        
      let vm = this;
      this.$axios
        .get("/comment/")
        .then((response) => {
          this.comments = response.data.results;
        })
        .catch(function (error) {
          vm.$message.error("сервэрт холбогдсонгүй !!!", error);
        });
    },
    
      submitComment() {
          console.log(this.news.id)
          const config = {
            headers: { "content-type": "multipart/form-data" }
          };
          
          let formData = new FormData();
         
          // for (let data in this.comment) {
          //   formData.append(data, this.comment[data]);
          // }

          formData.append("title", this.comment.title);
          formData.append("email", this.comment.email);
          formData.append("body", this.comment.body);
          formData.append("created_on", this.comment.created_on);
          formData.append("active", this.comment.active);
          
          formData.append("news", this.news.id);
          let vm = this;

          this.$axios
          .post(
            "/comment/",
            formData, config
          )
          .then((response) => {
            this.comment = response.data;
            this.comment = "";
          })
          .catch(function (error) {
            vm.$message.error("сервэрт холбогдсонгүй !!!", error);
          });


          // console.log('formData',formData)
          // try {
          //   let response = this.$axios.$post("/comment/", formData, config);
          //   console.log("response ",response)
          //   this.$router.push("/comment/");
          // } catch (e) {
          //   console.log(e);
          // }
        },
    }
  };
  </script>
  
  <style scoped>
  </style>