<template>
    <main class="container my-5">
      <div class="row">
        <div class="col-12 text-center my-3">
          <h2 class="mb-3 display-4 text-uppercase">{{catmenu.name}}</h2>
        </div>
        
        <div class="col-md-6">
          <div class="recipe-details">
            <h4>User</h4>
            <p>{{ catmenu.description }}</p>
            <h4>Content</h4>
            <p>{{  catmenu.icon  }} </p>
            <h4>View</h4>
            <p>{{ catmenu.order }}</p>
            <h4>Category</h4>
            <p>{{ catmenu.Date }}</p>
          </div>
        </div>
      </div>
    </main>
  </template>
  
  <script>
  export default {
    head() {
      return {
        title: "View Category"
      };
    },
    async asyncData({ $axios, params }) {
      try {
        let catmenu = await $axios.$get(`/category/${params.id}`);
        return { catmenu };
      } catch (e) {
        return { catmenu: [] };
      }
    },
    data() {
      return {
        catmenu: {
            id:"",
            name: "",
            description: "",
          icon: "",
          
          order: "",
          deleteTime: "",
          Date: "",
        },
      };
    }
  };
  </script>
  
  <style scoped>
  </style>