<template>
    <main class="container my-5">
      <div class="">
       
        <div class="flex items-center justify-center space-x-3">
          <div class="flex items-center">
            <button
              class="
                btn-color
                px-4
                py-2
                font-semibold
                text-white
                inline-flex
                items-center
                space-x-2
                rounded
              "
              v-if="$store.state.user!=null"
            >
              <a @click="$router.push('/cpanel')" class="flex items center"
                >Удирдлага
              </a>
            </button>
          </div>
           
          <a v-if="$store.state.auth.user!=null" @click="logout"
            >Гарах | {{ $store.state.auth.user.email }}
          </a>
          <template v-else>
            <button
              class="
                btn-color
                px-4
                py-2
                font-semibold
                text-white
                inline-flex
                items-center
                space-x-2
                rounded
              "
            >
              <a @click="$router.push('/register')"> Бүртгүүлэх</a>
            </button>
  
            <a @click="$router.push('/login')"> Нэвтрэх</a>

          </template>
  
       
      </div>
        <div class="col-12 text-center my-3">
          <h2 class="mb-3 display-4 text-uppercase">{{ news.title }}</h2>
        </div>
        <div class="col-md-6 mb-4">
          <img
            v-if="preview"
            class="img-fluid"
            style="width: 400px; border-radius: 10px; box-shadow: 0 1rem 1rem rgba(0,0,0,.7);"
            :src="preview"
            alt
          >
          <img
            v-else
            class="img-fluid"
            style="width: 400px; border-radius: 10px; box-shadow: 0 1rem 1rem rgba(0,0,0,.7);"
            src="@/static/images/placeholder.png"
          >
        </div>
        <div class="col-md-4">
          <form @submit.prevent="submitNews">
            <div class="form-group">
              <label for>User_name</label>
              <!-- <input type="text" class="form-control" v-model="news.user"> -->
              <!-- <div v-for="news in newss" v-bind:key="news.id" > -->
              <select  v-model="news.user" class="form-control">
               
                <div v-for="news in newss" v-bind:key="news.id">

                  <option  value="Easy">{{news.user_name}}</option>
                </div>
                 
                
               
                
              </select>
            </div>
            <div class="form-group">
              <label for>News Title</label>
              <input type="text" class="form-control" v-model="news.title">
            </div>
            
            <div class="form-group">
              <label for>Picture</label>
              <input type="file" name="file" @change="onFileChange">
            </div>
            <div class="form-group">
                <label for>Content</label>
                <input v-model="news.content" type="text" class="form-control">
              </div>
            <div class="form-group">
                <label for>Creation_date</label>
                <input v-model="news.creation_date" type="date" class="form-control">
              </div>
            <div class="form-group">
                <label for>Publish_date</label>
                <input v-model="news.publish_date" type="date" class="form-control">
              </div>
           
              
              <div class="col-md-6">
                <div class="form-group">
                  <label for>
                    View
                   
                  </label>
                  <input v-model="news.view" type="number" class="form-control">
                </div>
              </div>
            <div class="form-group">
                <label for>Category</label>
                <input v-model="news.category" type="text" class="form-control">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </main>
  </template>
  
  <script>
  export default {
    head() {
      return {
        title: "Add News"
      };
    },

    middleware: "auth",


    data() {
      return {
        news: {
            user:"",
          title: "",
          picture: "",
          content: "",
          creation_date: "",
          publish_date: "",
          view: "",
          category: ""
        },
        preview: ""
      };
    },
    methods: {
      onFileChange(e) {
        let files = e.target.files || e.dataTransfer.files;
        if (!files.length) {
          return;
        }
        this.news.picture = files[0];
        this.createImage(files[0]);
      },
      createImage(file) {
        // let image = new Image();
        let reader = new FileReader();
        let vm = this;
        reader.onload = e => {
          vm.preview = e.target.result;
        };
        reader.readAsDataURL(file);
      },
      async submitNews() {
        const config = {
          headers: { "content-type": "multipart/form-data" }
        };
        let formData = new FormData();
        for (let data in this.news) {
          formData.append(data, this.news[data]);
        }
        // console.log('formData',formData)
        try {
          let response = await this.$axios.$post("/news/", formData, config);
          console.log("response ",response)
          this.$router.push("/news/");
        } catch (e) {
          console.log(e);
        }
      }
    }
  };
  </script>
  
  <style scoped>
  </style>