<template>
    <main class="container mt-5">
        <div >
            <div class="col-12 text-right mb-4">
              <div class="flex justify-between">
                <h3>News</h3>
                <nuxt-link to="/news/add" class="btn btn-info">Add News</nuxt-link>

                <div class="flex items-center justify-center space-x-3">
                  <div class="flex items-center">
                    <button
                      class="
                        btn-color
                        px-4
                        py-2
                        font-semibold
                        text-white
                        inline-flex
                        items-center
                        space-x-2
                        rounded
                      "
                      v-if="$store.state.user!=null"
                    >
                      <a @click="$router.push('/cpanel')" class="flex items center"
                        >Удирдлага
                      </a>
                    </button>
                  </div>
                   
                  <a v-if="$store.state.auth.user!=null" @click="logout"
                    >Гарах | {{ $store.state.auth.user.email }}
                  </a>
                  <template v-else>
                    <button
                      class="
                        btn-color
                        px-4
                        py-2
                        font-semibold
                        text-white
                        inline-flex
                        items-center
                        space-x-2
                        rounded
                      "
                    >
                      <a @click="$router.push('/register')"> Бүртгүүлэх</a>
                    </button>
          
                    <a @click="$router.push('/login')"> Нэвтрэх</a>

                  </template>
          
               
              </div>
              </div>
            </div>


            <div class="grid grid-cols-4 gap-4 mb-4">

                <div v-for="news in newss" v-bind:key="news.id" >
                  <div >
                    <news-card :onDelete="deleteNews" :news="news"></news-card>
                  </div>
                </div>
            </div>
          </div>
          
    </main>
  </template>
  
  <script>
import NewsCard from "~/components/NewsCard.vue";


export default {
  head() {
    return {
      title: "News list"
    };
  },
  components: {
   NewsCard
  },
  
  middleware: "auth",

  async asyncData({ $axios, params }) {
    try {
      let newss = await $axios.$get(`/news/`);
      return {newss};
    } catch (e) {
      return { newss: [] };
    }
  },
  data() {
    return {
      newss: [],
      comment: []
    };
  },
  methods: {
    logout(){

    },
   
    async deleteNews(new_id) {
      try {
        await this.$axios.$delete(`/news/${news_id}/`); // delete news
        let newNewss = await this.$axios.$get("/news/"); // get new list of recipes
        this.newss = newNewss; // update list of recipes
      } catch (e) {
        console.log(e);
      }
    },
    
  }



   
};
</script>
  
  <style scoped>
  </style>