<template>
  
  
  <section class="bg-white dark:bg-gray-900">
    <div>
        
        <div class="flex">
            <nuxt-link :to="`/news`" class="">Нүүр</nuxt-link>
            <nuxt-link
            v-for="catmenu in categories"
            :to="'/info/' + catmenu.id"
            :key="'menu_' + catmenu.id"
          >
            <nuxt-link :to="`/category/${catmenu.id}/`"
              class=" leading-4 flex font-medium cursor-pointer px-3 py-1 rounded-md"
            >
              {{ catmenu.name }}
              
            </nuxt-link>
          </nuxt-link>

            <nuxt-link :to="``" class="">View</nuxt-link>
        </div>
    </div>
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">From the blog</h1>
        
        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-3">
            <div v-for="news in newss" v-bind:key="news.id" >
                
                <div class="lg:flex">
                  <!-- {{ news.newsImg }} -->
                  <div  v-for="img in news.newsImg"  v-bind:key="img.id"  >

                    <img  class="object-cover w-full h-56 rounded-lg lg:w-64" :src="img.file" alt="">
                  </div>

    
                    <div class="flex flex-col justify-between py-6 lg:mx-6">
                        <nuxt-link :to="`/news/${news.id}/`" class="text-xl font-semibold text-green-500 hover:underline dark:text-white ">
                            {{ news.title }}
                        </nuxt-link>
                        <span class="text-sm text-gray-500 dark:text-gray-300">
                           Нийтлэгч: {{ news.user_name }}  Категори:{{news.category_name}} 

                        </span>
                        <span class="text-sm text-gray-500 dark:text-gray-300">Үзсэн хүмүүсийн тоо: {{ news.view}}</span>
                        
                        <span class="text-sm text-gray-500 dark:text-gray-300">On: {{news.publish_date}}</span>
                        <div  v-for="comment in news.comment"  v-bind:key="comment.id"  >
                          {{ comment.email }} - {{ comment.body }}
                        </div>
                        <nuxt-link :to="`/news/comment/`" class="text-sm text-gray-500 dark:text-gray-300">Add comment</nuxt-link>
                          

                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
    <div class="">
     
      <div class=" leading-4 font-medium cursor-pointer px-3 py-1 rounded-md"
      v-for="banner in banners"
      v-bind:key="banner.id"
    >
      <div v-if="banner.position==1">

        <img  class="object-cover w-full h-56 rounded-lg lg:w-64" :src="banner.image" alt="">
          <span class="text-sm text-gray-500 dark:text-gray-300">  {{ banner.title }}</span> 
          <span class="text-sm text-gray-500 dark:text-gray-300"> Байрлал: {{ banner.position }}</span>
  
          <span class="text-sm text-gray-500 dark:text-gray-300">  {{ banner.description }}</span>
          <span class="text-sm text-gray-500 dark:text-gray-300">  Үнэ: {{ banner.price }}</span>
        
      </div>
      <div v-else>
        nuulll
      </div>
        
    </div>

  
    </div>
   
</section>

</template>

<script>
export default {
    layout: 'default',
    name: 'IndexPage',
    data() {
    return {
      categories: [],
      newss:[],
      banners:[],
      title: "title",
    };
  },
  created() {
    this.MenuData();

    this.NewsData();
    this.BannerData();
  },


    methods: {
    MenuData() {
      let vm = this;
      this.$axios
        .get("/category/")
        .then((response) => {
          this.categories = response.data.results;
        })
        .catch(function (error) {
          vm.$message.error("сервэрт холбогдсонгүй !!!", error);
        });
    },
    NewsData() {
      let vm = this;
      this.$axios
        .get("/news/")
        .then((response) => {
          this.newss = response.data.results;
        })
        .catch(function (error) {
          vm.$message.error("сервэрт холбогдсонгүй !!!", error);
        });
    },
    BannerData() {
      let vm = this;
      this.$axios
        .get("/banner/")
        .then((response) => {
          this.banners = response.data.results;
        })
        .catch(function (error) {
          vm.$message.error("сервэрт холбогдсонгүй !!!", error);
        });
    },

  },

}
</script>
