<template>
    <div>
        <div class="flex">
            <nuxt-link :to="``" class="">Нүүр</nuxt-link>
            <nuxt-link :to="``" class="">View</nuxt-link>

            
        </div>
    </div>
</template>