<template>
    <div class="card news-card">
      <img :src="news.picture" class="card-img-top" >
      <div class="card-body">
        <h5 class="">{{ news.user}}</h5>
        <p class="card-text">
          <strong>Title:</strong> {{ news.title }}
        </p>
        <p class="card-text">
          <strong>Content:</strong> {{ news.content}}
        </p>
        <div class="action-buttons">
          <nuxt-link :to="`/news/${news.id}/`" class="btn btn-sm btn-success">View</nuxt-link>
          <nuxt-link :to="`/news/${news.id}/edit/`" class="btn btn-sm btn-primary">Edit</nuxt-link>
          <button @click="onDelete(news.id)" class="btn btn-sm btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
      props: ["news", "onDelete"]
  };
  </script>
  
  <style>
  .news-card {
      box-shadow: 0 1rem 1.5rem rgba(0,0,0,.6);
  }
  </style>